{% extends 'base.html' %}

{% block title %}{% endblock title%}

{% block content %}
<h1>About me</h1>
<p>I am orginally from Slidell, Louisiana joining the United States Marine corps. in 2012 where I was stationed on Camp pendleton, California until 2016 as a motor T technician. Finishing my enlistment I staying in california to pursue my passion for the cannabis industry before it was legal in the state. I have held jobs in delivery, store front and distribution and packaging. During the start of the covid pandemic I discovered mushroom growing, crypto and coding.</p>
{% endblock content %}